<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Page Content -->
<div class="container" style="margin: 50px 100px 100px 250px;">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Search</p>
            <h4>By Category</h4>
            <input type="text" ng-model="searchByCategory">
            <h4 >By Movie Name</h4>
            <input type="text" ng-model="searchByMovieName">
            <div class="list-group">
                <a style="cursor: pointer;" ng-repeat="cat in categories" ng-click="scrollTo(cat)" class="list-group-item">{{cat}}</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div  class="carousel-inner">
                            <div class="item active">
                                <img style="height: 400px;" class="slide-image" src="http://localhost:8888/images/ (2).jpg" alt="">
                            </div>
                            <div class="item">
                                <img style="height: 400px;" class="slide-image" src="http://localhost:8888/images/ (43).jpg" alt="">
                            </div>
                            <div class="item">
                                <img style="height: 400px;" class="slide-image" src="http://localhost:8888/images/ (19).jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <span class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
            <div ng-show="isLoggedIn" class="col-lg-12">
                <h3>Recommended</h3>
            </div>
            <div ng-show="isLoggedIn" ng-repeat="movie in recommendedMovies | filterByRanking: 3 | limitTo:showQuantity"
                 class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img style="width: 300px; height: 250px;" ng-src="{{pictureLink(movie.movie_id)}}" alt="http://placehold.it/320x150">
                    <div class="caption" style="height: auto">
                        <h4 class="pull-right">${{movie.price_dollars}}</h4>
                        <h4><a ng-click="viewMovie(movie)">{{movie.name}}</a>
                        </h4>
                        <button ng-click="viewMovie(movie)" class="btn btn-default">More Info</button>
                    </div>
                    <div class="ratings" style="padding: 0 10px 5px 10px">
                        <a ng-click="addMovieToCart(movie,amount)" class="pull-right nounderline" style="text-decoration: none !important;margin-left: 15px;cursor: pointer;">
                                    <span class="glyphicon glyphicon-shopping-cart"
                                          style="font-size: 25px;"></span><span class="glyphicon glyphicon-plus" style="font-size: 12px;"></span>
                        </a>
                        <!--<input class="pull-right form-control input-xs" type="number" value="1" style="width: 40px;height: 25px">-->
                        <number-spin data-ng-model="amount"></number-spin>
                        <p style=" left: 0;margin-right: 5px">
                                    <span  ng-repeat="i in getNumber(movie.ranking)"
                                           class="glyphicon glyphicon-star"></span><span
                                ng-repeat="i in getNumber(5-movie.ranking)"
                                class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div ng-show="isLoggedIn" class="col-sm-4 col-lg-4 col-md-4">
                <h4><a href="#">Like this kind of movies?</a>
                </h4>
                <p>click here to view more..
                </p>
                <button class="btn btn-primary" target="_blank" ng-click="showQuantity = showQuantity+6">
                    View More
                </button>
            </div>
            </div>
            <div id="{{category}}" ng-repeat="(category, catagoryList) in movisByCategory |  filterCategories: searchByCategory"
                 class="row">
                <div class="col-lg-12">
                    <h3>{{category}}</h3>
                </div>
                <div class="row">

                    <div  ng-repeat="movie in catagoryList | filter: {name: searchByMovieName } | limitTo:showQuantity"
                         class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img style="width: 300px; height: 250px;" ng-src="{{pictureLink(movie.movie_id)}}" alt="http://placehold.it/320x150">

                            <div class="caption" style="height: auto">
                                <h4 class="pull-right">${{movie.price_dollars}}</h4>
                                <h4><a ng-click="viewMovie(movie)">{{movie.name}}</a>
                                </h4>
                                <button ng-click="viewMovie(movie)" class="btn btn-default">More Info</button>
                            </div>
                            <div class="ratings" style="padding: 0 10px 5px 10px">
                                <a ng-click="addMovieToCart(movie,amount)" class="pull-right nounderline" style="text-decoration: none !important;margin-left: 15px;cursor: pointer;">
                                    <span class="glyphicon glyphicon-shopping-cart"
                                          style="font-size: 25px;"></span><span class="glyphicon glyphicon-plus" style="font-size: 12px;"></span>
                                </a>
                                <!--<input class="pull-right form-control input-xs" type="number" value="1" style="width: 40px;height: 25px">-->
                                <number-spin data-ng-model="amount"></number-spin>
                                <p style="margin-right: 5px">
                                    <span  ng-repeat="i in getNumber(movie.ranking)"
                                          class="glyphicon glyphicon-star"></span><span
                                        ng-repeat="i in getNumber(5-movie.ranking)"
                                        class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <h4><a href="#">Like this kind of movies?</a>
                        </h4>
                        <p>click here to view more..
                        </p>
                        <button class="btn btn-primary" target="_blank" ng-click="showQuantity = showQuantity+6">
                            View More
                        </button>
                    </div>

                </div>
            </div>


        </div>

    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>


</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
