<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    input.ng-invalid.ng-dirty {
        border: 1px solid red
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary btn-sm btn-block"
                                        ng-click="clickContinueShoping()">
                                    <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <form name="outerForm">
                    <div class="panel-body">

                        <div class="col-xs-12" class="row" ng-repeat="movie in movies track by $index">
                            <div class="col-xs-2"><img style="height: 100px; width: 90px"  ng-src="{{pictureLink(movie.movie_id)}}" alt="http://placehold.it/100x70">
                            </div>
                            <div class="col-xs-4">
                                <h4 class="product-name"><strong><a>{{movie.name}}</a></strong></h4>
                                <h4>
                                    <small>{{movie.category}}</small>
                                </h4>
                            </div>
                            <div class="col-xs-6" style="margin-top: 60px">
                                <div class="col-sm-6 text-right ">
                                    <h4><strong>{{movie.price_dollars}}$ <span class="text-muted" style="margin-left: 50px; font-size: 20px">X</span></strong></h4>
                                </div>

                                <div class="col-xs-4 " align="center" style="margin-top: 10px">
                                        <ng-form name="innerForm">
                                            <number-spin ng-model="movie.amount" ng-change="change($index,movie)" required></number-spin>
                                        </ng-form>
                                </div>
                                <div class="col-xs-2 " style="margin-top: 10px">
                                        <button type="button" class="btn btn-link btn-xs">
                                            <span class="glyphicon glyphicon-trash"
                                                  ng-click="deleteMovieShopingCart(movie)"> </span>
                                        </button>
                                </div>

                            </div>

                            <hr>
                            <div class="col-xs-12" >
                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <div class="text-center">
                                <div class="col-xs-9">
                                    <h6 class="text-right"></h6>
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-info btn-sm btn-block"  type="button" class="btn btn-default btn-sm btn-block"
                                            ng-click="getorderlist()">
                                        Previous Orders
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel-footer">
                        <div class="row text-center">
                            <div class="col-xs-9">
                                <h4 class="text-right">Total <strong>{{totalPrice}}</strong>$</h4>
                            </div>
                            <div class="col-xs-3">
                                <input type="submit" ng-disabled="outerForm.$invalid" class="btn btn-success btn-block"
                                       ng-click="gotoCheckout()">
                                </input>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>