<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Simple Invoice Template | PrepBootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />

    <script type="text/javascript" src="css/jquery.js"></script>
    <script type="text/javascript" src="css/bootstrap.js"></script>
</head>
<body>

<div class="container" style="width: 80%">
<!-- Simple Invoice - START -->
<div class="container" style="width: 100%">
    <div class="row" >
        <div class="col-xs-12">
            <div class="text-center">
                <i class="fa fa-search-plus pull-left icon"></i>
                <h1>Invoice for Purchase #{{order.order_id}}</h1>
            </div>
            <hr>
            <div class="row" >
                <div class="col-xs-12 col-md-12 col-lg-12 pull-left" >
                    <div class="panel panel-default height" >
                        <div class="panel-heading">
                            <h3 class="text-center"><strong>Billing Details</strong></h3>
                        </div>
                        <div class="panel-body">
                            <strong style="text-transform: capitalize">{{clientDetails.first_name}} {{clientDetails.last_name}}</strong><br>
                            <strong>Phone Number:</strong><br>
                            {{clientDetails.phone_number}}<br>
                            <strong>Shipping Address:</strong><br>
                            <strong>{{clientDetails.address}}</strong><br>
                            <strong>{{clientDetails.country}}</strong><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center"><strong>Order summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Item Name</strong></td>
                                    <td class="text-center"><strong>Item Price</strong></td>
                                    <td class="text-center"><strong>Item Quantity</strong></td>
                                    <td class="text-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="orderDetail in orderDetails">
                                    <td>{{orderDetail.name}}</td>
                                    <td class="text-center">${{orderDetail.price_dollar}}</td>
                                    <td class="text-center">{{orderDetail.quantity_for_sale}}</td>
                                    <td class="text-right">${{orderDetail.price_dollar*orderDetail.quantity_for_sale}}</td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-center"><strong>Total</strong></td>
                                    <td class="emptyrow text-right">${{order.total_cost_dollar}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.height {
    min-height: 200px;
}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}
</style>

<!-- Simple Invoice - END -->

</div>

</body>
</html>