<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style="margin-left: auto; margin-right: auto" >
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><span class="glyphicon glyphicon glyphicon-tags"></span>  Previous Orders</h5>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-body" class="col-xs-12">
                    <div  class="col-xs-12" class="row" ng-repeat="order in OrdersList">

                        <div class="col-xs-12">
                            <div class="col-xs-8">
                                <p class="product-name" class="col-xs-2"><strong><a ng-click="viewOrderInvoice(order)">Order number: {{order.order_id}}</a></strong></p><p>Date of Purchase:  {{order.date_of_purchase|  date:"MM/dd/yyyy"}}</p>
                                <p  class="product-name"></p><p>Date of Shipment:  {{order.date_of_shipment|  date:"MM/dd/yyyy"}}</p>
                            </div>
                            <div class="col-xs-4" align="right">
                                <p align="right" >Total Price:  {{order.total_cost_dollar}}$ <span class="text-muted"></span></p>
                                <button align="right"  ng-click="viewOrderInvoice(order)" class="btn btn-default">More Info</button>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <hr >
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row text-center">

                        <div class="col-xs-3">
                            <button type="button"   class="btn btn-success btn-block"  ng-click="goback()">
                                go back
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>