<div class="container-fluide">
    <style>
        input.ng-invalid.ng-dirty{border:1px solid red}
    </style>
    <div class="row centered-form container-fluide">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" >Register</h3>
                </div>
                <div class="panel-body">
                    <form role="form" name="frm" >

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" ng-model="first_name" required required ng-pattern ="/^[a-zA-Z\s]*$/" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name*"  >
                                    <span ng-show="frm.first_name.$dirty&&frm.first_name.$error.required">required</span>
                                    <span ng-show="frm.first_name.$dirty&&frm.first_name.$error.pattern">only letters</span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" ng-model="last_name" required required ng-pattern ="/^[a-zA-Z\s]*$/"  name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name*"  >
                                    <span ng-show="frm.last_name.$dirty&& frm.last_name.$error.required">required</span>
                                    <span ng-show="frm.last_name.$dirty&& frm.last_name.$error.pattern">only letters</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <input ng-model="username" required required ng-pattern ="/^[a-zA-Z\s]*$/" ng-minlength="3" ng-maxlength="8" type="text" name="username" id="username" class="form-control input-lg" placeholder="User name*" minlength="3" maxlength="8" >
                            <div >
                                <span ng-show="frm.username.$dirty&&frm.username.$error.required">required</span>
                                <span ng-show="frm.username.$dirty&&frm.username.$error.pattern">only letters</span>
                                <span ng-show="frm.username.$dirty&&frm.username.$error.minlength">too short</span>
                                <span ng-show="frm.username.$dirty&&frm.username.$error.maxlength">too ling</span>


                            </div>

                        </div>

                        <div class="form-group">
                            <input  ng-model="email_address" required type="email" name="email_address" id="email" class="form-control input-lg" placeholder="Email Address*" >
                            <!--<div class="status" id="status"></div>-->
                            <div>
                            <span ng-show="frm.email_address.$dirty&&frm.email_address.$error.required">required</span>
                            <span ng-show="frm.email_address.$dirty&&frm.email_address.$error.email">not a email!</span>
                            </div>

                        </div>
                        <p >favorite color:</p>
                        <div class="form-group">
                            <!--<input required name="password" type="password" class="form-control input-lg" class="form-control inputpass" placeholder="Password*" minlength="10"  id="pass1" onchange="email_validate(this.value);"> </p>-->
                            <input ng-model="security_answer" required  ng-maxlength="1"  name="security_answer" type="text" class="form-control inputpass form-control input-lg" placeholder="security answer*" /> </p>
                            <span ng-show="frm.security_answer.$dirty&&frm.security_answer.$error.required">required</span>
                            <span ng-show="frm.security_answer.$dirty&&frm.security_answer.$error.minlength">too short</span>

                        </div>



                                <div class="form-group">
                                    <!--<input required name="password" type="password" class="form-control input-lg" class="form-control inputpass" placeholder="Password*" minlength="5" maxlength="10"  id="pass1" onchange="email_validate(this.value);"> </p>-->
                                    <input ng-model="password" required  pattern="(?=.*\d)(?=.*[a-zA-Z^]).{10,}" ng-maxlength="10" ng-minlength="5" name="password" type="password" class="form-control inputpass form-control input-lg" placeholder="Password*" /> </p>
                                    <span ng-show="frm.password.$dirty&&frm.password.$error.required">required</span>
                                    <span ng-show="frm.password.$dirty&&frm.password.$error.pattern">must contain numbers and letters</span>
                                    <span ng-show="frm.password.$dirty&&frm.password.$error.minlength">too short</span>
                                    <span ng-show="frm.password.$dirty&&frm.password.$error.maxlength">too long</span>

                                </div>


                             <div class="form-group">
                                        <!--<input required name="password" type="password" class="form-control input-lg" class="form-control inputpass" placeholder="Password*" minlength="5" maxlength="10"  id="pass1" onchange="email_validate(this.value);"> </p>-->
                                        <input ng-model="client_id" required  pattern="(?=.*\d)(?=.*[0-9]).{9,}" ng-maxlength="9" ng-minlength="9" name="client_id" type="text" class="form-control inputpass form-control input-lg" placeholder="user id*" /> </p>
                                        <span ng-show="frm.client_id.$dirty&&frm.client_id.$error.required">required</span>
                                        <span ng-show="frm.client_id.$dirty&&frm.client_id.$error.pattern">must contain only numbers</span>
                                        <span ng-show="frm.client_id.$dirty&&frm.client_id.$error.minlength">too short</span>
                                        <span ng-show="frm.client_id.$dirty&&frm.client_id.$error.maxlength">too long</span>

                             </div>

                        <div class="form-group">
                            <!--<input required name="password" type="password" class="form-control input-lg" class="form-control inputpass" placeholder="Password*" minlength="5" maxlength="10"  id="pass1" onchange="email_validate(this.value);"> </p>-->
                            <input ng-model="phone_number" required  pattern="(?=.*\d)(?=.*[0-9]).{9,}"  ng-minlength="9" name="phone_number" type="text" class="form-control inputpass form-control input-lg" placeholder="user phone*" /> </p>
                            <span ng-show="frm.phone_number.$dirty&&frm.phone_number.$error.required">required</span>
                            <span ng-show="frm.phone_number.$dirty&&frm.phone_number.$error.pattern">must contain only numbers</span>
                            <span ng-show="frm.phone_number.$dirty&&frm.phone_number.$error.minlength">too short</span>

                        </div>


                                <div class="form-group">
                                    <input ng-model="credit_card" required  pattern="(?=.*\d)(?=.*[0-9]).{9,}"  ng-minlength="9" name="credit_card" type="text" class="form-control inputpass form-control input-lg" placeholder="credit card*" /> </p>
                                    <span ng-show="frm.credit_card.$dirty&&frm.credit_card.$error.required">required</span>
                                    <span ng-show="frm.credit_card.$dirty&&frm.credit_card.$error.minlength">too short</span>

                                </div>


                            <div class="form-group">
                                <input type="text" ng-model="address" required required  ng-minlength="3" name="address" id="add" class="form-control input-lg" placeholder="Adress*">
                                <span ng-show="frm.address.$dirty&&frm.address.$error.required">required</span>
                                <span ng-show="frm.address.$dirty&&frm.address.$error.minlength">too short</span>

                            </div>

                            <div  class="form-group">
                                <select ng-model="country" required  class="form-control input-lg" name="country"    class="custom-select mb-2 mr-sm-2 mb-sm-0" id="country" >
                                    <option selected class="form-control input-lg">Choose...</option>
                                    <option value="1" class="form-control input-lg">One</option>
                                    <option value="2" class="form-control input-lg">Two</option>
                                    <option value="3" class="form-control input-lg">Three</option>
                                    <span ng-show="frm.country.$dirty&&frm.country.$error.required">required</span>

                                </select>
                                <span ng-show="frm.country.$dirty&&frm.country.$error.required">required</span>
                            </div>







                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" ng-model="favourite_catergory" required required name="favourite_catergory" id="password" class="form-control input-lg" placeholder="Favorite category*">
                                    <span ng-show="frm.favourite_catergory.$dirty&&frm.favourite_catergory.$error.required">required</span>

                                </div>
                            </div>
                             <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" ng-model="favourite_catergory2" required required name="favourite_catergory2" id="password_confirmation" class="form-control input-lg" placeholder="Favorite category 2*">
                                    <span ng-show="frm.favourite_catergory2.$dirty&&frm.favourite_catergory2.$error.required">required</span>

                                </div>
                            </div>
                        </div>

                </form>
                    <button  ng-click="submit()" ng-disabled="frm.$invalid"  class="btn btn-info btn-block" > Register</button>

                </div>
            </div>
        </div>
    </div>
</div>