<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>RentaMovie</h1>
            <p>Renting a movie on the web has never been easier!</p>
            <p>Welcome & have fun..</p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Hot Movies</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->

            <div class="row">

                <div ng-repeat="movie in moviesHot"
                     class="col-sm-4 col-lg-3 col-md-3" >
                    <div class="thumbnail">
                        <img style="width: 300px; height: 250px;" ng-src="{{pictureLink(movie.movie_id)}}" alt="http://placehold.it/320x150">
                        <div class="caption">
                            <h4 class="pull-right">${{movie.price_dollars}}</h4>
                            <h4><a ng-click="viewMovie(movie)" style="cursor: pointer;">{{movie.name| limitTo: 20 }}{{movie.name.length > 20 ? '...' : ''}}</a>
                            </h4>
                            <div class="ratings"  style="padding: 0 10px 5px 10px">
                                <a ng-show=isLoggedIn ng-click="addMovieToCart(movie,amount)" class="pull-right nounderline" style="text-decoration: none !important;margin-left: 15px;cursor: pointer;">
                                    <span class="glyphicon glyphicon-shopping-cart"
                                          style="font-size: 25px;"></span><span class="glyphicon glyphicon-plus" style="font-size: 12px;"></span>
                                </a>
                                <!--<input class="pull-right form-control input-xs" type="number" value="1" style="width: 40px;height: 25px">-->
                                <number-spin ng-show=isLoggedIn data-ng-model="amount"></number-spin>
                                <p style=" left: 0;margin-right: 5px">
                                    <span  ng-repeat="i in getNumber(movie.ranking)"
                                           class="glyphicon glyphicon-star"></span><span
                                        ng-repeat="i in getNumber(5-movie.ranking)"
                                        class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        <!-- /.row -->


        <!-- Title -->
        <div ng-show="isLoggedIn">
            <div  class="row">
                <div class="col-lg-12">
                    <h3>New Movies</h3>
                </div>
            </div>
            <!-- /.row -->

            <!-- Page Features -->
            <div ng-show="isLoggedIn"  >

                <div ng-repeat="movie in moviesNew"
                     class="col-sm-4 col-lg-3 col-md-3" >
                    <div class="thumbnail">
                        <img style="width: 300px; height: 250px;" ng-src="{{pictureLink(movie.movie_id)}}" alt="http://placehold.it/320x150">
                        <div class="caption">
                            <h4 class="pull-right">${{movie.price_dollars}}</h4>
                            <h4><a ng-click="viewMovie(movie)" style="cursor: pointer;">{{movie.name| limitTo: 20 }}{{movie.name.length > 20 ? '...' : ''}}</a>
                            </h4>
                            <div class="ratings"  style="padding: 0 10px 5px 10px">
                                <a ng-show=isLoggedIn ng-click="addMovieToCart(movie,amount)" class="pull-right nounderline" style="text-decoration: none !important;margin-left: 15px;cursor: pointer;">
                                    <span class="glyphicon glyphicon-shopping-cart"
                                          style="font-size: 25px;"></span><span class="glyphicon glyphicon-plus" style="font-size: 12px;"></span>
                                </a>
                                <!--<input class="pull-right form-control input-xs" type="number" value="1" style="width: 40px;height: 25px">-->
                                <number-spin ng-show=isLoggedIn data-ng-model="amount"></number-spin>
                                <p style=" left: 0;margin-right: 5px">
                                    <span  ng-repeat="i in getNumber(movie.ranking)"
                                           class="glyphicon glyphicon-star"></span><span
                                        ng-repeat="i in getNumber(5-movie.ranking)"
                                        class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr>
        </div>
        <!-- Footer -->

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../css/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../css/bootstrap.min.js"></script>

</body>

</html>
